.App {
  text-align: center;
  background: rgba(247, 244, 244, 0.867);
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  font-size: calc(10px + 2vmin);
  color: white;
  background: rgba(111, 184, 227, 0.7);
}

.formContainer {
  border-radius: 15px;
  background: #ffffff;
  margin: 30px;
  padding: 30px;
}

.formTitle {
  color: rgb(211, 208, 208);
}

.formInput {
  border: 0;
  border-radius: 0;
  border-bottom: 1px dashed #ced4da;
  font-size: 14px;
  padding: 10px;
}

.formSelect {
  border: 0;
  border-radius: 0;
  border-bottom: 1px dashed #ced4da;
  font-size: 14px;
  padding: 10px;
}

.formLabel {
  float: left;
  font-size: 12px;
}

.formInfo {
  float: right;
}

.conferenceTitle {
  display: inline-block;
  padding-bottom: 30px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.imgIRF {
  height: 100px;
}

.locationText {
  font-size: 14px;
}


